
#chart-page{
    overflow-x: hidden;
    overflow-y:auto;
    height: 88vh;
}

#chart-group{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.chart-container-wrapper{
    margin: auto;
    max-width: 95%;
    overflow-x: auto;
    white-space: nowrap; 

}
.chart-container{
    display: inline-block;
    position: relative; 
    height: 45vh; 
    min-width: 806px;
    max-width: 80vw;
    margin: auto;
}
.chart-container-sized{
    display: inline-block;
    position: relative; 
    height: 45vh; 
    max-width: 80vw;
    margin: auto;
}

#selectors{
    margin: auto;
    max-width: 240ch;
}

#word-bank{
    background: var(--card-accent);
    overflow-y: auto;
    height: 20vh;
    padding: 2em 2em 5em 2em;
}
#question-words{
    display: grid;
    grid-template-columns: repeat(auto-fill, 13em);
    column-gap: 2em;
    row-gap: 1em;
    justify-content: space-around;
    align-items: center;
    font-size: .9em;
}
.question-container{
    display: flex;
    justify-content: space-between;
    height: 1.3em;
    border-bottom: 2px rgba(128 128 128 / 78%) solid;
}
.question-word-div{
    color: var(--darker-text);
}
.color-type-div{
    font-weight: bold;
    color: var(--hr-line);
    text-align: center;
}

#group-bank{
    overflow-y: auto;
    background: var(--card-accent);
    height: 15vh;
    padding: 2em 2em 5em 2em;
}
#color-groups{
    display: grid;
    grid-template-columns: repeat(auto-fill, 13em);
    column-gap: 2em;
    row-gap: 1em;
    justify-content: space-around;
    align-items: center;
    font-size: .9em;
}
.result-container{
    display: flex;
    justify-content: space-between;
    height: 1.3em;
    border-bottom: 2px rgba(128 128 128 / 78%) solid;
}
.result-group-div{
    color: var(--darker-text);
}
.color-array-div{
    font-weight: bold;
    color: var(--hr-line);
    text-align: center;
}
