
#chart-page{
    overflow-x: hidden;
    overflow-y:auto;
    height: calc(100vh - 6ch);
}

#chart-group{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#charts-container{
    margin: 10px;
    }
#charts-container section{
    margin-top: 2em;
    margin-bottom: 2em;
}

.chart-container-wrapper{
    margin: auto;
    overflow-x: auto;
    white-space: nowrap; 
    width: 100%;
    display: flex;
    max-width: 1000px;
    background-color: white;
    border-radius: 3px;
}
.chart-container{
    display: inline-block;
    position: relative;
    height: 50vh;
    min-width: 900px;
    margin: auto;
}
.chart-container-sized{
    position: relative;
    height: 50vh;
    margin: auto;
    width: 100%;
}

#selectors{
    margin: auto;
    max-width: 240ch;
    padding: 0em 2em 0em 2em;
}

#word-bank{
    background: var(--card-accent);
    overflow-y: auto;
    height: 20vh;
    padding: 1em 0em 1em 0em;
}
#question-words{
    display: grid;
    grid-template-columns: repeat(auto-fill, 13em);
    column-gap: 2em;
    row-gap: 1em;
    justify-content: space-around;
    align-items: center;
    font-size: .9em;
}
.question-container{
    display: flex;
    justify-content: space-between;
    height: 1.3em;
    border-bottom: 2px rgba(128 128 128 / 78%) solid;
}
.question-word-div{
    font-weight: bold;
    color: var(--darker-text);
}
.color-type-div{
    
    color: var(--darker-text);
    text-align: center;
}

#group-bank{
    overflow-y: auto;
    background: var(--card-accent);
    padding: 1em 0em 1em 0em;
}
#color-groups{
    display: grid;
    grid-template-columns: repeat(auto-fill, 13em);
    column-gap: 2em;
    row-gap: 1em;
    justify-content: space-around;
    align-items: center;
    font-size: .9em;
}
.result-container{
    display: flex;
    justify-content: space-between;
    height: 1.3em;
    border-bottom: 2px rgba(128 128 128 / 78%) solid;
}
.result-group-div{
    font-weight: bold;
    color: var(--darker-text);
}
.color-array-div{
    color: var(--darker-text);
    text-align: center;
}


input{
    margin: .3em;
    font-size: .9em;
    cursor: pointer;
    text-decoration: none;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
    padding: 0.2em 0.6em;
    color: var(--nav-button-color);
    height: 4ch;
}
select{
    margin: .3em;
    font-size: .9em;
    cursor: pointer;
    text-decoration: none;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 3px;
    box-sizing: border-box;
    text-align: left;
    padding: 0.2em 0.6em;
    color: var(--nav-button-color);
    height: 4ch;
}


#totals{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1ch;
    max-width: 100ch;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 6ch;
}

.totals-row{
    margin: 1ch 2ch 1ch 2ch;
}

.query-button-row{
    display: flex;
    max-width: 800px;
    flex-direction: row;
    flex-wrap: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.random{
    background-color: #cccccd;
    flex-basis: 120px;
    flex-grow: 1;
    max-width: 22ch;
}
.text-display-input{
    flex-basis: 200px;
    flex-grow: 1;
    max-width: 20ch;
    border-radius: 3px;
    font-size: 1.1em;
}
.query{
    border-radius: 3px;
    text-align: center;
    color: white;
    background-color: #699969;
    flex-basis: 100px;
    flex-grow: 3;
    max-width: 40ch;
}
.query:hover{
    background-color: #7ab37a;
}
.disabled-button{
    pointer-events: none;
    color: rgb(211, 211, 211);
    background-color: rgb(126, 124, 124);
}
.disabled-button:hover{
    pointer-events: none;
    color: rgb(211, 211, 211);
    background-color: rgb(126, 124, 124);
}


@media only screen and (max-width:750px) {
    #totals{
        display: flex;
        flex-direction: row;
    }
    #selectors{
        padding: 0;
    }
}
@media only screen and (max-height:550px)  {
    #charts-container section{
        height: 100%;
    }
}
@media only screen and (min-width:1875px) {
    #charts-container{
        align-items: baseline;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }
    #charts-container section{
        flex-basis: 900px;
        flex-grow: 1;
        margin: 1em;
    }
    .chart-container{
        display: inline-block;
        position: relative;
        height: 55vh;
        margin: auto;
    }
    .chart-container-sized{
        display: inline-block;
        position: relative;
        height: 55vh;
        margin: auto;
    }
}