@font-face {
    font-family: "NotoSans";
    src: url("/fonts/Noto_Sans/NotoSans-Regular.ttf") format("ttf");
    src: url("/fonts/Noto_Sans/NotoSans-Bold.ttf") format("ttf");
    src: url("/fonts/Noto_Sans/NotoSans-Italic.ttf") format("ttf");
    src: url("/fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

:root{
    --bg-shade: rgb(249 249 248);
    --body-text-color: rgb(80 80 80);
    --nav-button-color: rgb(80 80 80);
    --action-hover-1: rgba(75 75 75 / 75%);
    --action-hover-2: rgb(241 241 241);
    --card-background: #668a66;
    --card-forground: rgba(82 82 82 / 70%);
    --card-shadow: rgba(85 85 85 / 85%);
    --card-accent: rgba(82 82 82 / 15%);
    --hr-line: rgba(97 185 145 / 20%);
    --darker-text: rgba(96 96 96 / 100%);
    --white: #f9f9f8;
    --white-hover: white;
    --white-bold: white;
    --blue:#698199;
    --blue-hover:#7a99b3;
    --blue-bold:#7a99b3;
    --black:#6c6c6c;
    --black-hover:#919191;
    --black-bold:#919191;
    --red:#8a6666;
    --red-hover:#b37a7a;
    --red-bold:#b37a7a;
    --green:#699969;
    --green-hover:#7ab37a;
    --green-bold:#7ab37a;
}
.white{background-color: var(--white);}
.blue{background-color: var(--blue);}
.black{background-color: var(--black);}
.red{background-color: var(--red);}
.green{background-color: var(--green);}
@media(hover: hover) {
    .white:hover{
        background-color: var(--white-hover);
        border: 4px solid var(--white);
    }
    .blue:hover{
        background-color: var(--blue-hover);
        border: 4px solid var(--blue);
    }
    .black:hover{
        background-color: var(--black-hover);
        border: 4px solid var(--black);
    }
    .red:hover{
        background-color: var(--red-hover);
        border: 4px solid var(--red);
    }
    .green:hover{
        background-color: var(--green-hover);
        border: 4px solid var(--green);
    }
}
html {
    font-size: 16px;
  }

body{
    font-family: 'NotoSans', Arial, sans-serif;
    color: var(--body-text-color);
    background-color: var(--bg-shade);
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
}
a:visited {
    color: var(--nav-button-color);
    text-decoration: none;
}
a h1{
    color: rgb(95 95 95);  
    font-size: 1em;
}

.block{
    display: block;
}

.hiddenElement{
    display: none;
}

.right-text{
    text-align: right;
}
.left-text{
    text-align: left;
}
.centered-text{
    text-align: center;
}
.centered-grid{
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-start{
    justify-self: start;
}
.flex-end{
    justify-self: end;
}
.flex-center{
    justify-content: center;
}
.flex-space-around{
    justify-content: space-around;
}
.body-margin{
    padding: 0 4% 0 4%;
}

.margin-bottom-large{
    margin-bottom: 8%;
}
.margin-top-small{
    margin-top: 3%;
}
.margin-top-medium{
    margin-top: 2em;
}

.margin-sides-medium{
    margin: 0 1em 0 1em;
}

#header-button-row div{
    cursor: pointer;    
    border:0.15em solid rgba(255,255,255,0);
    border-radius:2px;
    box-sizing: border-box;
}
.nav-button{
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-size: .85em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0.5em 1em;
    color: var(--nav-button-color);
}
#header-button-row div:hover {
    border-color: var(--action-hover-1);
}
#header-button-row div:active{
    border-color: var(--action-hover-2);
}

.option-button{
    cursor: pointer; 
    font-family:'Roboto',sans-serif;
    font-size: 1.1em;
    text-decoration: none;  
    display:inline-block;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2px;
    box-sizing: border-box;
    text-align:center;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    color: var(--nav-button-color);
}
.option-button:hover {
    border-color: var(--action-hover-1);
}
.option-button:active{
    border-color: var(--action-hover-2);
}


.bg-mists{
    background: url(/img/mist.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header{
    height: 6ch;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    max-width: 80ch;
    margin: auto;
}
#headerH1{
    color: var(--nav-button-color);
    width: 33ch;
    text-align: left;
}


#header-button-row{
    width: 100%;
    display: flex;
    flex-wrap: none;
    justify-content: space-around;
    align-items: center;
}


#footer{
    color: var(--body-text-color);
    text-align: end;
}
.hr-style-top{
    border-top: solid var(--hr-line) 3px;
    filter: drop-shadow(0 .1em .1em var(--card-forground));
    margin: auto;
}
.hr-style-bottom{
    border-bottom: solid var(--hr-line) 3px;
    filter: drop-shadow(0 .1em .1em var(--card-forground));
    margin: auto;
    width: 75%;
}

.collapsible {
    background-color: #838383;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

/* .active, .collapsible:hover {
    background-color: #5a895a;
} */

.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

input{
    -webkit-appearance: none !important;
}

.button-green{
    background-color: #668a66;
    color: white;
}
.button-green:hover{
    background-color: #7ab37a;
}
.button-blue{
    background-color: #698199;
    color: white;
}
.emphasis{
    font-weight: bold;
}



