@font-face {
    font-family: "NotoSans";
    src: url("/fonts/Noto_Sans/NotoSans-Regular.ttf") format("ttf");
    src: url("/fonts/Noto_Sans/NotoSans-Bold.ttf") format("ttf");
    src: url("/fonts/Noto_Sans/NotoSans-Italic.ttf") format("ttf");
    src: url("/fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

:root{
    --bg-shade: rgb(250 250 250);
    --body-text-color: rgb(110 110 110);
    --nav-button-color: rgb(95 95 95);
    --action-hover-1: rgba(75 75 75 / 75%);
    --action-hover-2: rgb(241 241 241);
    --card-background: rgba(165 165 165 / 90%);
    --card-forground: rgba(82 82 82 / 70%);
    --card-shadow: rgba(85 85 85 / 85%);
    --card-accent: rgba(82 82 82 / 15%);
    --hr-line: rgba(112 112 112 / 85%);
    --darker-text: rgba(96 96 96 / 100%);
}

html {
    font-size: 15px;
  }

body{
    font-family: 'NotoSans', Arial, sans-serif;
    color: var(--body-text-color);
    background-color: var(--bg-shade);
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
}
a:visited {
    color: var(--nav-button-color);
    text-decoration: none;
}
a h1{
    color: rgb(95 95 95);  
    font-size: 1em;
}

.hiddenElement{
    display: none;
}

.right-text{
    text-align: right;
}
.left-text{
    text-align: left;
}
.centered-text{
    text-align: center;
}
.centered-grid{
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-start{
    justify-self: start;
}
.flex-end{
    justify-self: end;
}
.flex-center{
    justify-content: center;
}
.flex-space-around{
    justify-content: space-around;
}
.body-margin{
    padding: 0 4% 0 4%;
}

.margin-bottom-large{
    margin-bottom: 8%;
}
.margin-top-small{
    margin-top: 3%;
}
.margin-top-medium{
    margin-top: 5%;
}

.margin-sides-medium{
    margin: 0 1em 0 1em;
}

.nav-button-div{
    cursor: pointer;    
}
.nav-button{
    cursor: pointer; 
    font-family:'Roboto',sans-serif;
    font-size: .8em;
    text-decoration: none;  
    display:inline-block;
    border:0.15em solid rgba(255,255,255,0);
    border-radius:2px;
    box-sizing: border-box;
    text-align:center;
    padding:0.3em .6em;
    margin:0 0.1em 0.1em 0;
    color: var(--nav-button-color);
}
.nav-button:hover {
    border-color: var(--action-hover-1);
}
.nav-button:active{
    border-color: var(--action-hover-2);
}

.option-button{
    cursor: pointer; 
    font-family:'Roboto',sans-serif;
    font-size: 1.1em;
    text-decoration: none;  
    display:inline-block;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2px;
    box-sizing: border-box;
    text-align:center;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    color: var(--nav-button-color);
}
.option-button:hover {
    border-color: var(--action-hover-1);
}
.option-button:active{
    border-color: var(--action-hover-2);
}


.bg-mists{
    background: url(/img/mist.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header{
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    margin-bottom: 5px;
    max-width: 80ch;
}
#headerH1{
    color: var(--nav-button-color);
    width: 35ch;
    text-align: center;
}


#header-button-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


#footer{
    color: var(--body-text-color);
    text-align: end;
}
.hr-style-top{
    border-top: solid var(--hr-line) 3px;
    filter: drop-shadow(0 .1em .1em var(--card-forground));
    width: 100%;
    margin: auto;
}
.hr-style-bottom{
    border-bottom: solid var(--hr-line) 3px;
    filter: drop-shadow(0 .1em .1em var(--card-forground));
    width: 85vw;
    margin: auto;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
