.section-card{
    min-width: 100%;
    box-sizing: border-box;
    padding: 2.1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--bg-shade);
    background: var(--card-background);
    border: 4px solid transparent;
    border-radius: 2px;
    -webkit-transition: all 0.09s ease-out;
    transition: all 0.09s ease-in-out;
    filter: drop-shadow(0 .1em .1em var(--card-forground))
}
.section-card:hover{
    border: 4px solid var(--action-hover-1);
    -webkit-transition: all 0.09s ease-in-out;
    transition: all 0.09s ease-in-out;
    text-shadow: none;
    box-shadow: 
    inset 0 -3em 3em rgba(85,85,85,0.12), 
    0 0 .25em rgba(250,250,250, .6),
    0 0 .5em rgba(0,0,0,0.3);    
}
.section-card article{
    color: var(--bg-shade);
    text-shadow: 1px 2px 3px var(--card-forground);    
    filter: drop-shadow(.2em .2em .2em var(--card-forground));
}
.section-card article:hover{
    color: white;
}
.section-card:active{
    border: 4px solid var(--action-hover-2);
    box-shadow: 0 0 .5em rgba(0,0,0,0.3);
}
.section-card-sub{
    justify-self: end;
}
.section-card-main{
    justify-self: start;
}


#home-start{
    grid-area: start;
}
#home-charts{
    grid-area: charts;
}
#home-results{
    grid-area: results;
}
#home-about{
    grid-area: about;
}
#home-block{
    margin: auto;
    min-width: 60ch;
    max-width: 125ch;
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template: 
    "start charts"
    "start results"
    "start about";
}


@media only screen and (max-width:750px) {
    #home-block{
        min-width: 30ch;
        max-width: 40ch;
        grid-template-columns:auto;
        grid-template: 
        "start"
        "charts"
        "results"
        "about";
    }
    .section-card-border-wrap {
        max-width: 100%;
  }
}