#quiz-block{
    height: 90vh;
    text-align: center;
    margin: auto;
    min-width: 60ch;
    max-width: 135ch;
    display: grid;
    grid-gap: 1rem;
    grid-template: 
    "info info info info"
    "left-options response response right-options";
    grid-template-rows: 15vh auto;
    grid-template-columns:auto auto;
}

#quiz-info-box{
    grid-area: info;
    margin-top: 4vh;
}

#quiz-left-options{
    grid-area: left-options;
}
#quiz-right-options{
    grid-area: right-options;
}
#quiz-bottom-options{
    grid-area: bottom-options;
}

#quiz-response{
    grid-area: response;
    border: 3px solid;
    height: fit-content;
    margin-top: 10vh;
    padding: .25em;
}
.response-button{
    cursor: pointer; 
    font-family:'Roboto',sans-serif;
    font-size: 1.1em;
    text-decoration: none;  
    display:inline-block;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2px;
    box-sizing: border-box;
    text-align:center;
    transition: all 0.2s;
    padding:0.3em 1.2em;
    margin:0 1em 1em 0;
    color: var(--nav-button-color);
}
.response-button:hover {
    border-color: var(--action-hover-1);
}
.response-button:active{
    border-color: var(--action-hover-2);
}
