#quiz-block{
    height: 90vh;
    text-align: center;
    margin: auto;
    min-width: 60ch;
    max-width: 135ch;
    display: grid;
    grid-gap: 1rem;
    grid-template: 
    "info info info info"
    "left-options response response right-options"
    "left-options results results right-options"
    ;
    grid-template-rows: 15vh auto;
    grid-template-columns:auto auto;
}

#instruction-reminder{
    margin-top: 1em;
    font-size: 1em;
}

#question{
    margin: 8% 0 8% 0;
    font-weight: bold;
    font-size: x-large;
}

#quiz-left-options{
    grid-area: left-options;
}
#quiz-right-options{
    grid-area: right-options;
}
#quiz-bottom-options{
    grid-area: bottom-options;
}


#quiz-info-box{
    grid-area: info;
    margin-top: 4vh;
}

#response-block{
    grid-area: response;
}
#quiz-response{
    margin-top: 8vh;
}
.response-button{
    cursor: pointer; 
    font-family:'Roboto',sans-serif;
    font-size: 1.1em;
    text-decoration: none;  
    display:inline-block;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2px;
    box-sizing: border-box;
    text-align:center;
    padding:0.3em 1.2em;
    color: var(--nav-button-color);
}
.response-button:hover {
    border-color: var(--action-hover-1);
}
.response-button:active{
    border-color: var(--action-hover-2);
}

.section-card{
    border: 3px solid;
    border-radius: 3px;
    height: fit-content;
    padding: .6em;
}

#results-section{
    grid-area: results;
    margin-top: 8vh;
}