#quiz-block{
    overflow-y:scroll;
    height: calc(100vh - 6ch);
    text-align: center;
}
#quiz-container{
    margin: auto;
    max-width: 100ch;
}
#instruction-reminder{
    margin-top: 1em;
    font-size: 1em;
}

#question{
    font-family: 'Tahoma', sans-serif;
    color: #2c2b34;
    margin: 1.2em 0 1.2em 0;
    height: 4ch;
    text-align: center;
    font-weight: 800;
    font-size: 3em;
    text-shadow: 0px 0px 2px #f7fbfb;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

#quiz-left-options{
    grid-area: left-options;
}
#quiz-right-options{
    grid-area: right-options;
}
#quiz-bottom-options{
    grid-area: bottom-options;
}


#quiz-info-box{
    grid-area: info;
    margin-top: 4vh;
}

#response-block{
    grid-area: response;
}
#quiz-response{
    padding: 2em;
    margin: 1em;
    border: 3px solid;
    border-color: var(--blue-hover);
    background-color: #ffffff;
    border-radius: 5px;
    height: fit-content;
    box-shadow: 0px 2px 5px 1px #a6afb7;
}
#totals{
    margin: 1em;
}
.response-button{
    cursor: pointer; 
    font-family:'Roboto',sans-serif;
    font-size: 1.1em;
    text-decoration: none;  
    display:inline-block;
    border: 2px solid;
    border-color: #7878784a;
    border-radius:30px;
    box-sizing: border-box;
    text-align:center;
    margin-top: .2em;
    margin-bottom: .2em;
    padding: 0.5em 1.4em;
    background-color: #f6f6f5;
    color: var(--black-bold);
    box-shadow: 0px 1px 2px 0px rgb(51 96 179 / 20%);  
}
.quiz-option{
    font-size: 1em;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    text-shadow: 0px 1px 3px #000000a1;;
}
#reset-button{
    font-size: 1em;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    text-shadow: 0px 1px 3px #000000a1;;
}
#calculate-button{
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    padding: .5em 2em;
    text-shadow: 0px 1px 3px #000000a1;;
}
@media(hover: hover) {
    .response-button:hover {
        border-color: var(--blue-bold);
        color:#fafcff;
        background-color: #4398f1;
        box-shadow: 0px 2px 3px 1px rgb(51 96 179 / 50%);
    }
}

.info-item{
    margin-left: 1em;
}

.section-card{
    border: 3px solid;
    border-radius: 3px;
    height: fit-content;
    padding: .5em;
}

#results-section{
    grid-area: results;
    margin: 5em 1em 5em 1em;
    padding: 4em 1em 4em 1em;
    background-color: var(--content-block);
}
#calculate-div{
    margin-top: 5em;
}
#answerRow{
    flex-direction: row;
    max-width: 80ch;
    margin: auto;
}

@media only screen and (max-width:750px) {
    #answerRow{
        flex-direction: column;
        max-width: 20ch;
    }
    #quiz-response{
        margin: 1em 1.5em;
        padding: .7em .5em;
        border-radius: 12px;
    }
    #calculate-div {
        margin-top: 2.2em;
    }
    #quiz-info-box {
        margin-top: .6em;
    }
    #question{
        font-size: 2.5em;
        margin: .7em 0 .6em 0;
    }
}