#results-page{
    overflow-x: hidden;
    overflow-y:scroll;
    height: calc(100vh - 6ch);
}
#results-container{
    max-width: 180ch;
    margin: auto;
}
#text-dump{
    margin: 0 1em;
    padding: 1em 1em 10em 1em;
    background-color: var(--content-block);
}
.result-header{
    font-weight: bold;
    font-size: 1.3em;
}
.result-button{
    font-size: 1.3em;
    padding: 1.3em;
    margin-top: 1em;
    border-radius: 4px;
}